html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow-x: hidden}


/*th, td {*/
/*border-bottom: 1px solid #ddd;*/
/*}*/

/*tr:nth-child(even) {background-color: #f2f2f2;}*/

th, td {
  margin-bottom: 0px;
  padding: 0px;
}

/*input[type='number']::-webkit-inner-spin-button,*/
/*input[type='number']::-webkit-outer-spin-button {*/
/*opacity: 1;*/
/*}*/

input[type=number]:not(.browser-default) {
  margin-bottom: 0px;
  text-align: center;
  border-bottom: 0px;
  height: 1rem;
  padding-left: 7px;
  line-height: 0px;
}

.tabFont {
  font-size: 16px !important;
}


li .active {
  font-weight: bold;
  list-style-position:inside;
  border: 2px solid #0D47A1;
}
.mat-tab-body-content {
  overflow: hidden !important;
}

input[type=text]:not(.browser-default) {
  margin-bottom: 0px;
  border-bottom: 0px;
  margin-bottom: 0px;
  text-align: center;
  border-bottom: 0px;
  height: 1rem;
  padding-left: 7px;
  line-height: 0px;
}

input::placeholder {
  color: gray;
}

.collapsible-header {
  padding: 2px;
  background-color: rgba(0, 0, 0, 0.0);
}

.tabs {
  background-color: rgba(0, 0, 0, 0.0);
}

.tabs a {
  color: #0D47A1 !important;
}


.tabs li.indicator {
  background-color: #0D47A1 !important;
}

.collapsible-body {
  padding: 2px;
}


body {
  background: rgba(25, 55, 111, 0.3) url("assets/PBE_bgg.png") no-repeat center;
  height: 100%;
}

select{
  height: 1.5rem;
  color: black;
}

.mat-tab-label-content{
  font-weight: bold;
  font-size: large;
}

.btn {
  background-color: #0D47A1;
}

.btn:hover {
  background-color: #2a8bcc;
}

.page-footer {
  background-color: #0D47A1;
  opacity: 0.8;
}


select {
  display: flex;
  background-color: rgba(0, 0, 0, 0.0);
  padding: 0px;
  text-align-last:center;
  font-size: 14px;
}

input {
  color: black;
  text-align-last:center;
}

a {
  color: white;
}
